<% if @cart.empty? %>
<p>The cart is empty</p>
<% end %>


<div id="productsContainer">
    <table id="customers">
        <% total = 0 %>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Remove</th>
            <th>Increase</th>
            <th>Decrease</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Item</th>
        </tr>
        <% @cart.each do |id, quantity| %> 
            <% product = Product.find_by_id(id) %>

         
             <tr>
                 <td>
                     <div class="image">
                         <%= link_to (image_tag product.image_url, :style =>"height:40px"), product %>
                     </div>
                 </td>
                 
                 <td class="title">
                     <%= link_to product.title, product %>
                 </td>
                 
                 <td class="title remove">
                  <a href="/cart/remove/<%= product.id %>">X</a>   
                </td>
                
                <td class="amounts">
                    <a href="cart/increase/<%= product.id %>" ><i class='fas fas fa-arrow-alt-circle-up fa-3x'></i></a></td>
                </td>
                
                <td class="amounts">
                    <a href="cart/reduce/<%= product.id %>" ><i class='fas fa-arrow-alt-circle-down fa-3x'></i></a></td>
                </td>
              
              
                <td class="price">
                   <%= number_to_currency(product.cost_price, :unit =>"€") %>  
                </td>
                
                <td class="quantity"><%= quantity %></td>
                
                <td class="price"><%= number_to_currency(quantity * product.cost_price, :unit =>"€") %></td>
                 
             </tr>
         
         
             <% total += quantity * product.cost_price %> 
             
         
        <% end %>
        
        <tr>
            
           Grand Total: <%= number_to_currency(total, :unit =>"€") %> 
        </tr>
    </table>
    
    <a href="/products" class="button">Continue Shopping</a>
    <a href="/cart/clear" class="button">Clear Cart</a>
    <a href="/checkout" class="button">Checkout</a>
</div>