<header class="headSec">
      <h1>Studio Ghibli European Store</h1>
      <ul>
        <li><%=link_to "Home", home_path %></li>
        <li><%=link_to "Products", "/products" %></li>
        <li><%=link_to "About", about_path %></li>
        <li><%=link_to "Help", help_path %></li>
        <li><%=link_to "Contact", contact_path %></li>
        <li><%=link_to "Cart", cart_path %></li>
        
        <% if user_signed_in? %>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'View Orders', orders_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <% if @cart && !@cart.empty? %>
            <%= path="(#{@count_items} items) #{number_to_currency(@grand_total, :unit =>"Subtotal: €")}" %>
            <li><%= link_to path, "#"  %></li>
          <% end %>
            <% if current_user.admin? %>
                <%= link_to 'New Product',  new_product_path, :class => "button", :role => "button" %>
                <%= link_to 'New Category', new_category_path, :class =>"button", :role=>"button" %>
            <% end %>
        <% else %>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
        
      </ul>
</header>