<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Studio Ghibli Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    
    <div class="container">
      <%= yield %>
    </div>
    <footer class="foot">
      <h1>Im the Footer</h1>
      <% if session[:login] == 1 %>
        <%= link_to 'New Product', new_product_path, :class =>"button", :role=>"button" %>
      <% end %>
    </footer>
    
  </body>
</html>
